.flex{
    display: flex;
}
body{
    flex-direction: column;
    align-items: center;
    background-color: #141d26;
}

#nav_bar{
    background-color: #ffffff;
    width: 80%;
}

#nav_bar h1{
    flex-grow: 2;
    margin-left: 2%;
    font-size: 1.3em;
}

#nav_bar button{
    color:#ffffff;
    background-color: red;
    border: none;
    cursor: pointer;
}
#nav_bar button:hover{
    color: red;
    background-color: #121212;

}
section{
    background-color: #ffffff;
    margin-top: 5%;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    font-size: 1.3em;
}

section .card{
    width: 300px;
    min-width: 500px;
    justify-content: center;
    flex-grow: 1;
}

section .card h2{
    text-align: center;
}

section .info{
    min-width: 500px;
    margin-top: 5%;
    flex-grow: 3;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}

section .info div{
    
    margin: 5%;
}


